
.footer {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}

.footer-nav	{ border-color: transparent; }

 .footer-nav .pages { list-style:none; padding:0px; }
 .footer-nav .pages li { padding:5px 0px;}
 .footer-nav .pages a { color:rgba(255,255,255,1.00);  text-transform:uppercase; }
 .footer-nav .pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
 .footer-nav {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

 .footer-nav .list { list-style:none; padding:0px; }
 .footer-nav .list li { padding:5px 0px;}
 .footer-nav .list a { color:rgba(255,255,255,0.80); }
 .footer-nav .list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
 
 
h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}