.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      max-height: 400px;
  }
 
 .carousel-control.left, .carousel-control.right
 {
 	background-image:none;
 }