body{ padding-top: 94px; } 

hr{
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray
}

#search {
    position: relative;
    font-size: 18px;
    padding-top: 40px;
    margin: -20px auto 0;
}
/* Page loader css */



/* Page loader css End */